/* app css stylesheet */
.wrap {
  min-height: 1024px;
}

.content {
  min-height: 45em;
}


.chat-panel{
  min-height: 30em;
  max-height: 30em;
  
}

.scrollbar{
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track
{
	border-radius: 2px;
	background-color: transparent;
}

.scrollbar::-webkit-scrollbar
{
	width: 8px;
	background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 2px;
	background-color: #BBB;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.2) 50%,
											  transparent,
											  transparent)
}

.well{
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  display: inline-block !important;
  max-width: 90%;
}

.my-message{
  background-color:  moccasin !important;
}

.message-content{
  white-space: pre-line;
}

#message-box{
  resize: none;
}