/* app css stylesheet */
.wrap {
  min-height: 1024px;
}

.content {
  min-height: 45em;
}


.chat-panel{
  min-height: 260px;
  max-height: 260px;

}

.scrollbar{
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track
{
	border-radius: 2px;
	background-color: transparent;
}

.scrollbar::-webkit-scrollbar
{
	width: 8px;
	background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 2px;
	background-color: #BBB;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.2) 50%,
											  transparent,
											  transparent)
}

.message-row > .well{
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  display: inline-block !important;
  max-width: 90%;
}

.my-message{
  background-color:  moccasin !important;
}

.message-content{
  white-space: pre-line;
}

#message-box{
  resize: none;
}




.topmem {
    padding-left: 5px !important;
    padding-right: 5px !important;
}


.col-item > h5 {
    text-align: center;
    display: block;
}


.social-login{
    width: 64px;
    height: auto;
}



#online-sidebar{

}

#online-sidebar > .sidebar-nav-fixed {
    width:20%;
}
#online-sidebar > .sidebar-nav-fixed > .well {
    margin: 0px !important;
    padding-top: 5px !important;
    min-height: 550px;
    max-height: 550px;
}

#online-sidebar > .sidebar-nav-fixed > .search {
    margin: 0px !important;
    padding: 5px !important;

}

#online-sidebar > .sidebar-nav-fixed >  .well > ul > li > .well {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    margin-bottom: 0px !important;
    padding-left: 5px;

    max-height: 50px;
    min-height: 50px;
    cursor: pointer;
    border: none;
    /*background-color: rgb(0,131,236) !important;*/
}

#online-sidebar > .sidebar-nav-fixed >  .well > ul > li > .well:hover,
#online-sidebar > .sidebar-nav-fixed >  .well > ul > li >  .well >img:hover,
#online-sidebar > .sidebar-nav-fixed >  .well > ul > li >  .well >span:hover{
    background-color: rgba(200,200,200,.81)!important;
}

#online-sidebar > .sidebar-nav-fixed >  .well > ul > li >  .well >img{
    width: 44px;
    height: 44px;
}

#online-sidebar > .sidebar-nav-fixed > .well > ul > li >  .well >span{
    padding-left: 5px !important;
}
